{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    
    <h1>Beatriz website</h1>
    <p></p>
    <a type="button" class="btn btn-lg btn-primary" href="https://es.linkedin.com/pub/beatriz-merino-sánchez/105/67b/859"><span class="glyphicon glyphicon-link"></span> Linkedin</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/bms27/python-getting-started"><span class="glyphicon glyphicon-cloud"></span> Source on GitHub</a>
  </div>
</div>

   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
<!--</div>-->
{% endblock %}
